* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 100px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    height: 90px;
    width: 100px;
}

.logo {
    background-image: url(app.logo.png);
    background-size: cover;
    height: 90px;
    width: 100%;
    margin-left: 30px;
}

.nav-content {
    font-size: 0.85rem;
    margin-right: 30px;
}

.nav-content a {
    padding: 10px;
    cursor: pointer;
}
/* hero-section */
.hero-section {
    height: 600px;
    width: 100%;
    background-color: rgb(230, 248, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    height: 400px;
    width: 45%;
    margin-left: 60px;
}

.box1 p,h1 {
    margin-bottom: 20px;
    line-height: 30px;
}

button {
    background-color: rgb(29, 29, 218);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.box2 {
height: 400px;
width: 45%;
margin-right: 60px;
}

.image {
background-image: url(app2.image.jpeg);
background-size: cover;
height: 300px;
width: 100%;
border-radius: 5px;
}

footer {
    height: 100px;
    background-color:rgb(34, 33, 33);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.foot-copyright {
    font-size: 0.85rem;
    margin-left: 30px;
}

.foot-msg {
    font-size: 0.85rem;
    margin-right: 30px;
}
    